<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: aliceblue;">



    <h2 style="font-family: cursive; color: blueviolet; text-align: center; font-size: 40px;">DRIVERS</h2>
    <hr><hr>
    <h2 style="font-family: cursive; font-size: 25px; color: indianred; text-align: center;">{{msg}}</h2>
    <fieldset>
        <legend>Driver Details</legend>
        <form action="/safedriver" method="post" class="form-group">          
            <label>Name(Required)</label><br>
            <input type="text" class="form-control" name="driver_name">
            <br><br>
            <label>Phone Number</label><br>
            <input type="text" class="form-control" name="driver_phone"><br>
            <br>
            <label>ID Number</label>
            <br>
            <input type="text" class="form-control" name="id_number">
            <br><br>
            <label>Assigned Car</label>
            <br>
            <input type="text" class="form-control" name="car_assigned">
            <br><br>
            <input type="submit" class="btn btn-outline-dark"> 
        </form>
    </fieldset>
    



















</body>
</html>